<!doctype html>
<html class="fixed" lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default"
      >

<body>
    <div id="page" layout:fragment="content">
        <section role="main" class="content-body">
            <header class="page-header">
                <h2>Fornisseur</h2>
            </header>

            <!-- start: page -->

            <!-- Table -->
            <section class="panel" >
                <div class="panel-body">
                    <a class="btn btn-success" th:href="@{/utilisateurs/user_form}" ><i class="fas fa-plus-circle"></i> Ajouter</a>
                    <hr>
                    <table #dataTable class="table table-bordered table-striped mb-none" id="datatable-default">
                        <thead>
                            <tr>
                                <th>Nom</th>
                                <th>Telephone</th>
                                <th>Email</th>
                                <th class="center hidden-phone">Action</th>
                            </tr>
                        </thead>
                        <tbody th:each="user :${users}">
                            <tr class="gradeX">
                                <td th:text="${user.nom}">Omar El Alaoui</td>
                                <td th:text="${user.telephone}">0654782168</td>
                                <td th:text="${user.username}">Mohamed@gmil.com</td>
                                <td class="center hidden-phone">
                                    <i class="fas fa-edit text-primary"></i>
                                    <span class="om-tab">|</span>
                                    <i class="fas fa-trash-alt text-danger"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>


            <!-- end: page -->
        </section>
    </div>




</body>

</html>
