<!doctype html>
<html class="fixed" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">

<body>
    <div id="page" layout:fragment="content">
        <section role="main" class="content-body">
            <header class="page-header">
                <h2>Commandes d'Achat</h2>

            </header>

            <!-- start: page -->

            <!-- Modal Supprimer-->
            <div class="modal fade" id="supp_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" id="myModalLabel">Vous etes Sur de supprimer cette commande?</h4>
                        </div>
                        <div class="modal-footer">
                            <a class="btn btn-danger submit_supp"><i class="fas fa-trash-alt"></i> Supprimer</a>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fas fa-close text-danger"></i>Fermer</button>
                        </div>
                    </div>
                </div>
            </div>


            <!-- Table-->
            <section class="panel">
                <div class="panel-body">
                    <a class="btn btn-primary" href="/entrees/nouvelle_commande"><i class="fas fa-plus-circle"></i> Nouvelle Commande</a>
                    <hr>
                    <table #dataTable class="table table-bordered table-striped mb-none" id="datatable-default">
                        <thead>
                            <tr>
                                <th>ID Facture</th>
                                <th>Fournisseur</th>
                                <th>Date Commande</th>
                                <th>Montant</th>
                                <th class="center hidden-phone">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="gradeX" th:each="commande_fournisseur : ${commandes_fournisseur}">
                                <td th:text="${commande_fournisseur.id}"></td>
                                <td th:text="${commande_fournisseur.fournisseur.nom}"></td>
                                <td th:text="${#dates.format(commande_fournisseur.dateCommande, 'dd/MM/yyyy')}"></td>
                                <td th:text="${commande_fournisseur.montant}"></td>
                                <td class="center hidden-phone">
                                    <a th:href="@{/entrees/details(id=${commande_fournisseur.id})}"><i class="fas fa-file-alt text-success"></i></a>
                                    <span class="om-tab">|</span>
                                    <a th:href="@{/entrees/update(id=${commande_fournisseur.id})}"><i class="fas fa-edit text-primary"></i></a>
                                    <span class="om-tab">|</span>
                                    <a class="btn_supp" th:href="@{/entrees/delete(id=${commande_fournisseur.id})}"><i class="fas fa-trash-alt text-danger"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
            <!-- end: page -->
        </section>
    </div>

</body>

</html>
