<!doctype html>
<html class="fixed" lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layouts/default">

<body>

    <div id="page" layout:fragment="content">

        <section role="main" class="content-body">
            <header class="page-header">
                <h2>Categorie</h2>
            </header>

            <!-- start: page -->


            <!-- Modal Animation -->
            <div id="ajouter" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <section class="panel panel-primary">
                                <header class="panel-heading">
                                    <h2 class="panel-title">Ajouter Categorie</h2>
                                </header>
                                <div class="panel-body">
                                    <form id="demo-form" class="form-horizontal mb-lg" novalidate="novalidate">
                                        <div class="form-group mt-lg">
                                            <label class="col-sm-3 control-label">Designaion</label>
                                            <div class="col-sm-9">
                                                <input type="text" name="name" class="form-control" placeholder="Type your name..." required="">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </section>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary modal-confirm"><i class="fas fa-check"></i> Ajouter</button>
                            <button class="btn btn-default" data-dismiss="modal"><i class="fas fa-times"></i> Annuler</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- table -->
            <section class="panel">
                <div class="panel-body">
                    <a class="btn btn-primary" data-toggle="modal" data-target="#ajouter"><i class="fas fa-plus-circle"></i> Ajouter</a>
                    <hr>
                    <table class="table table-bordered table-striped mb-none" id="datatable-default" #dataTable>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Categorie</th>
                                <th class="center hidden-phone">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="gradeX">
                                <td>1</td>
                                <td>Informatique</td>
                                <td class="center hidden-phone">
                                    <i class="fas fa-edit text-primary"></i>
                                    <span class="om-tab">/</span>
                                    <i class="fas fa-trash-alt text-danger"></i></td>
                            </tr>
                            <tr class="gradeX">
                                <td>2</td>
                                <td>Mecanique</td>
                                <td class="center hidden-phone"><i class="fas fa-edit text-primary"></i>
                                    <span class="om-tab">/</span> <i class="fas fa-trash-alt text-danger"></i></td>
                            </tr>
                            <tr class="gradeX">
                                <td>3</td>
                                <td>Bureautique</td>
                                <td class="center hidden-phone"><i class="fas fa-edit text-primary"></i>
                                    <span class="om-tab">/</span> <i class="fas fa-trash-alt text-danger"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>


            <!-- end: page -->
        </section>
    </div>


    <!-- Vendor -->
    <script src="assets/vendor/jquery/jquery.js"></script>
    <script src="assets/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
    <script src="assets/vendor/bootstrap/js/bootstrap.js"></script>
    <script src="assets/vendor/nanoscroller/nanoscroller.js"></script>
    <script src="assets/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="assets/vendor/magnific-popup/magnific-popup.js"></script>
    <script src="assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>

    <!-- Specific Page Vendor -->
    <script src="assets/vendor/select2/select2.js"></script>
    <script src="assets/vendor/jquery-datatables/media/js/jquery.dataTables.js"></script>
    <script src="assets/vendor/jquery-datatables-bs3/assets/js/datatables.js"></script>
    <script src="assets/vendor/bootstrap-fileupload/bootstrap-fileupload.min.js"></script>

    <!-- Theme Base, Components and Settings -->
    <script src="assets/javascripts/theme.js"></script>

    <!-- Theme Custom -->
    <script src="assets/javascripts/theme.custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="assets/javascripts/theme.init.js"></script>

    <!-- Examples -->
    <script src="assets/javascripts/tables/examples.datatables.default.js"></script>
    <script src="assets/javascripts/tables/examples.datatables.row.with.details.js"></script>
    <script src="assets/javascripts/tables/examples.datatables.tabletools.js"></script>
    <script src="assets/javascripts/ui-elements/examples.modals.js"></script>

</body>

</html>
