<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title th:if="${commande.class.simpleName == 'CommandeFournisseur'}">Facture pour Fournisseur</title>
		<title th:if="${commande.class.simpleName == 'CommandeClient'}">Facture pour Client</title>
		<!-- Web Fonts  -->
		<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet" type="text/css">

		<!-- Vendor CSS -->
		<link rel="stylesheet" th:href="@{/vendor/bootstrap/css/bootstrap.css}" />

		<!-- Invoice Print Style -->
		<link rel="stylesheet" th:href="@{/stylesheets/invoice-print.css}" />
	</head>
	<body>

	<div class="invoice" th:object="${commande}">
		<header class="clearfix">
			<div class="row">
				<div class="col-sm-6 mt-md">
					<h2 class="h2 mt-none mb-sm text-dark text-bold">Facture</h2>
					<h4 class="h4 m-none text-dark text-bold" th:text="'#' + ${commande.id}"></h4>
				</div>
				<div class="col-sm-6 text-right mt-md mb-md">
					<address class="ib mr-xlg">
						Entreprise x
						<br />
						Agadir, Maroc
						<br />
						Tél: +212 654782168
						<br />
						entrepriseX@okler.net
					</address>
				</div>
			</div>
		</header>
		<div class="bill-info">
			<div class="row">
				<div class="col-md-6">
					<div class="bill-to">
						<p  th:if="${commande.class.simpleName == 'CommandeFournisseur'}" class="h5 mb-xs text-dark text-semibold">De:</p>
						<p  th:if="${commande.class.simpleName == 'CommandeClient'}" class="h5 mb-xs text-dark text-semibold">À:</p>
						<address th:if="${commande.class.simpleName =='CommandeFournisseur'}">
							<span th:text='${commande.fournisseur.nom}'></span>
							<br />
							<span th:text='${commande.fournisseur.adresse}'></span>
							<br />
							Tél: +212 <span th:text='${commande.fournisseur.telephone}'></span>
							<br />
							Email: <span th:text='${commande.fournisseur.email}'></span>
						</address>
						<address th:if="${commande.class.simpleName =='CommandeClient'}">
							<span th:text='${commande.client.nom}'></span>
							<br />
							<span th:text='${commande.client.adresse}'></span>
							<br />
							Tél: +212 <span th:text='${commande.client.telephone}'></span>
							<br />
							Email: <span th:text='${commande.client.email}'></span>
						</address>
					</div>
				</div>
				<div class="col-md-6">
					<div class="bill-data text-right">
						<p class="mb-none">
							<span class="text-dark">Date:</span>
							<span th:text="${#dates.format(commande.dateCommande,'MM/dd/YYYY')}" class="value"></span>
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="table-responsive">
			<table class="table invoice-items">
				<thead>
				<tr class="h4 text-dark">
					<th id="cell-id" class="text-semibold">#</th>
					<th id="cell-item" class="text-semibold">Produit</th>
					<th id="cell-price" class="text-center text-semibold">Prix</th>
					<th id="cell-qty" class="text-center text-semibold">Quantité</th>
					<th id="cell-total" class="text-center text-semibold">Total</th>
				</tr>
				</thead>
				<tbody>
				<tr th:each="elem :${commande.ligneCommandes}">
					<td th:text="${elem.id}"></td>
					<td th:text="${elem.produit.designation}" class="text-semibold text-dark"></td>
					<td th:text="${elem.produit.prix_unitaire} + ' DH'" class="text-center"></td>
					<td th:text="${elem.quantite}" class="text-center"></td>
					<td th:text="${elem.quantite * elem.produit.prix_unitaire} + ' DH'" class="text-center"></td>
				</tr>
				</tbody>
			</table>
		</div>

		<div class="invoice-summary">
			<div class="row">
				<div class="col-md-6 col-md-offset-6">
					<br>
					<table class="table h5 text-dark">
						<tbody>
						<tr class="h4">
							<td colspan="2">Total</td>
							<td th:text="${commande.montant} +' DH'" class="text-left"></td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

		<script>
			window.print();
		</script>
	</body>
</html>